body{
    background-color: #F5F6F1;
    height: 100%;
    width: 100%;
}
.Projects{
    height: 500px;
    width: 500px;
    background-image: url('./lcd.png');
    background-size: contain; /* ปรับขนาดให้พอดีโดยคงอัตราส่วน */
    background-position: center;
    background-repeat: no-repeat;
    
}
h1{
    margin-left: 45%;
    margin-top: 5%;
}
.Projects h2{
    margin-left: 45% ;
    margin-top: 50px;
}
.all-project{
    margin-left: 25%;
}
.all-project .emergency{
    height: 150px;
    width: 150px;
}
.all-project .emergency #save_money {
    height: 50px;
    margin-left: 30%;
    
}
.all-project .emergency #Emer {
    margin-left: 10%;
    margin-top: -1px;
    
}
.all-project .emergency #Pic {
    margin-left: 25%;
    margin-top: -1px;
}
.all-project .emergency #chat {
    margin-left: 30%;
    margin-top: -1px;
}
.Projects .all-project {
    display: grid;
    grid-template-columns: repeat(2, 150px); /* 3 คอลัมน์เริ่มต้น */
    height: 200px;
    grid-template-rows: 100px;
    
}
.all-project .book-1 #book{
    height: 100px;
    width: 100px;
    margin-top: -70px;
}
.all-project .book-1 #b1{
    margin-left: 45px;
}
.all-project .book-1 #t1{
    background-color: aliceblue;
    height: 20px;
    margin-top: -15px;
    margin-left: -30px;
    margin-right: 30px;
    border-radius: 20px;
}
.all-project .book-2 #b2{
    margin-left: 35px;
}
.all-project .book-2 #t2{
    background-color: aliceblue;
    height: 20px;
    margin-top: -15px;
    margin-left: -70px;
    margin-right: 80px;
    border-radius: 20px;
}

.all-project .book-2 #book{
    height: 100px;
    width: 100px;
    margin-top: 111px;
    margin-left: -50px;
}


.document #db{
    margin-left: 300px;
}

/* สำหรับจอเล็ก (มือถือ) */
@media (max-width: 768px) {
    h1{
        margin-left: 40%;
        margin-top: 5%;
    }
    .Projects{

        background-image: url('./lcd.png');
        background-size: contain; /* ปรับขนาดให้พอดีโดยคงอัตราส่วน */
        background-position: center;
        background-repeat: no-repeat;
        margin-left: -60px;
    }
    .Projects h2{
        margin-left: 43% ;
        margin-top: 50px;
    }
    .Projects .all-project {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 100px);
        margin-left: 30%;
    
       
    }
}

/* สำหรับจอเล็กมาก (มือถือแนวตั้ง) */
@media (max-width: 480px) {

    #name{
      
        width: 500px;
        margin-left: -5%;
        margin-top: 5%;
    }
  
    .Projects{
        height: 500px;
        width: 600px;
        background-image: url('./lcd.png');
        background-size: contain; /* ปรับขนาดให้พอดีโดยคงอัตราส่วน */
        background-position: center;
        background-repeat: no-repeat;
       
    }
    .Projects h2{
        margin-left: 43% ;
        margin-top: 6%;
    }
    .Projects .all-project {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 100px);
        margin-left: 27%;
    
       
    }
}
.document .all-project {
    display: grid;
    grid-template-columns: repeat(2, 150px); /* 3 คอลัมน์เริ่มต้น */
    grid-template-rows: 150px;
    
}


/* สำหรับจอเล็ก (มือถือ) */
@media (max-width: 768px) {
    .document .all-project {
        grid-template-columns: repeat(2, 150px); /* 2 คอลัมน์ */
        grid-template-rows: 150px;
    }
}

/* สำหรับจอเล็กมาก (มือถือแนวตั้ง) */
@media (max-width: 480px) {
    .document .all-project {
        grid-template-columns: 150px; /* 1 คอลัมน์ */
        grid-template-rows: 150px;
    }
}


.document{
    
    height: 400px;
    width: 400px;
    background-image: url('./bookcase.png');
    background-size: contain; /* ปรับขนาดให้พอดีโดยคงอัตราส่วน */
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
   

}



.All{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-left: 10%;
    height: 200px;
}
/* สำหรับจอเล็ก (มือถือ) */
@media (max-width: 768px) {
    .All {
        grid-template-columns: repeat(1, 1fr); /* 2 คอลัมน์ */
    }
}

/* สำหรับจอเล็กมาก (มือถือแนวตั้ง) */
@media (max-width: 480px) {
    .All {
        grid-template-columns: 1fr; /* 1 คอลัมน์ */
    }
}
.Projects .table #desk{
    margin-top: 10px;
    height: 700px;
    width: 1200px;
    position: absolute; /* หรือ relative / fixed */
    z-index: -2; /* ค่า -1 ทำให้ element อยู่ด้านหลัง */

}

.Projects .floor #wood{
    margin-top: 520px;
    margin-left: -155px;
    height: 50%;
    width: 100%;
    position: absolute; /* หรือ relative / fixed */
    z-index: -3; /* ค่า -1 ทำให้ element อยู่ด้านหลัง */

}

.Projects .plant #plantd{
    margin-top: -70px;
    margin-left: 500px;
    height: 200px;
    position: absolute; /* หรือ relative / fixed */
    z-index: -1; /* ค่า -1 ทำให้ element อยู่ด้านหลัง */

}

.Projects .window #windowd{
    margin-top: -400px;
    margin-left: -70px;
    height: 500px;
    width: 400px;
    position: absolute; /* หรือ relative / fixed */
    z-index: -1; /* ค่า -1 ทำให้ element อยู่ด้านหลัง */

}

.Projects .cat #catd{
    margin-top: -30px;
    margin-left: 700px;
    height: 200px;
    width: 200px;
    position: absolute; /* หรือ relative / fixed */
    z-index: -1; /* ค่า -1 ทำให้ element อยู่ด้านหลัง */
    /* transform: scaleX(-1); พลิกให้หันไปอีกทาง */
}
